/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.templates{
  text-align: center;
}

.templates img{
  width: 40%;
}

.templates a{
  width: 40%;
  text-align: center;
  margin: auto;
}

.templates .col-mg-4{
  margin-bottom: 20px;
}

.tumb {
  width: 45%;
  padding-top: 20px;
}