<div>
    <a href="#/templates">Go Back</a>
    <br><br><br>
    <div class="col-md-4">
        <img src="images/{{mainImage}}">
        <div class="row">
            <div ng-repeat="image in template.images | limitTo:4">
            <div class="col-md-3">
                <img class="tumb" ng-src="images/{{image.name}}" ng-click="setImage(image)">
            </div>
           </div>
        </div>
    </div>
    <div class="col-md-8">
        <h3>{{template.name}}</h3>
        <p>{{template.description}}</p>
        <p>Type: {{template.type}}</p>
        <h4>{{template.price | currency}}</h4>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="business" value="seller@designerfotos.com">
            <input type="hidden" name="item_name" value="hat">
            <input type="hidden" name="item_number" value="123">
            <input type="hidden" name="amount" value="15.00">
            <input type="hidden" name="first_name" value="John">
            <input type="hidden" name="last_name" value="Doe">
            <input type="hidden" name="address1" value="9 Elm Street">
            <input type="hidden" name="address2" value="Apt 5">
            <input type="hidden" name="city" value="Berwyn">
            <input type="hidden" name="state" value="PA">
            <input type="hidden" name="zip" value="19312">
            <input type="hidden" name="night_phone_a" value="610">
            <input type="hidden" name="night_phone_b" value="555">
            <input type="hidden" name="night_phone_c" value="1234">
            <input type="hidden" name="email" value="jdoe@zyzzyu.com">
            <input type="image" name="submit"
                   src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                   alt="PayPal - The safer, easier way to pay online">
        </form>
    </div>
</div>