<div class="row">
    <div ng-repeat="template in templates">
    <div class="col-md-4 templates">
        <h3>{{template.name}}</h3>
        <img ng-src="images/{{template.images[0].name}}">
        <h4>{{template.price | currency}}</h4>
        <a class="btn btn-primary btn-block" href="#/templates/{{template.id}}">Details</a>
        </div>
    </div>
</div>